<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <title>Student - Dashboard</title>
</head>

<body class="bg-[#0082E3] max-w-screen max-h-screen font-inter bg-cover"
    style="background-image: url(/images/wave.svg); ">
    <div class="flex justify-center w-full h-full">
        <%- include("../partials/studentSidebar") %>

            <div class="flex flex-col justify-center w-[80%] h-screen">
                <%- include("../partials/studentNavbar") %>

                    <div class="flex justify-center w-full h-[85%] p-4">
                        <div class="flex flex-col w-full bg-gray-50 rounded-xl shadow-lg">
                            <div class="flex justify-between w-full border-b-2 px-8 py-4">
                                <h1 class="text-gray-700 font-bold text-xl">Student Data</h1>
                            </div>
                            <div class="flex flex-col justify-center px-8 py-4 overflow-y-auto">
                                <div class="flex items-center justify-between py-2">
                                    <div class="flex justify-start w-1/2">
                                        <label for="table-search" class="sr-only">Search</label>
                                        <div class="relative">
                                            <div
                                                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                                    fill="currentColor" viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </div>
                                            <form action="/student-dashboard"><input type="text" id="table-search"
                                                    name="searchQuery"
                                                    class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                    placeholder="Search for items"></form>

                                        </div>
                                    </div>

                                    <div class="flex justify-end w-1/2">
                                        <button id="dropdownDefaultButton" data-dropdown-toggle="filterBy"
                                            class="text-gray-500 bg-white border font-normal rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                            type="button">Sorted By<svg class="w-10 h-4 ml-2" aria-hidden="true"
                                                fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M19 9l-7 7-7-7"></path>
                                            </svg></button>
                                        <!-- Dropdown menu -->
                                        <div id="filterBy"
                                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                            <ul class="text-sm text-gray-700 dark:text-gray-200"
                                                aria-labelledby="dropdownDefaultButton">
                                                <li>
                                                    <form action="/student-dashboard">
                                                        <button type="submit" name="fullnameSort" value="0"
                                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white border-b w-full">Name:
                                                            Ascending</button>
                                                    </form>
                                                </li>
                                                <li>
                                                    <form action="/student-dashboard">
                                                        <button type="submit" name="fullnameSort" value="1"
                                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white border-b w-full">Name:
                                                            Descending</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                        <thead
                                            class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                                            <tr>
                                                <th scope="col" class="px-6 py-3">
                                                    #
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Fullname
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Date Of Birth
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Address
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Phone Number
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Parent Name
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Parent Number
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Email
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% student.forEach((student, index)=> { %>
                                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                                    <th scope="row"
                                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td class="px-6 py-4">
                                                        <%= student?.student?.fullname %>
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        <%= moment(student?.student?.dateOfBirth).format('DD/MM/YYYY')
                                                            %>
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        <%= student?.student?.address %>
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        <%= student?.student?.phoneNumber %>
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        <%= student?.student?.parentName %>
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        <%= student?.student?.parentNumber %>
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        <%= student?.student?.email %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</body>

</html>